body {
    padding: 10px;
    background-color: lightgray;
    font-family: 'Germania One', cursive;
}

button,div,form, input {
    margin: 10px;
  }
    

h1{
    font-size: 35px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

p{
    font-size: 14px;
}

hr{
    border: .5px solid rgb(141, 250, 252);
}

.hr_custom{
    border: 2px solid darkturquoise;
}


.container{
    padding: 10px;
    background-color: white;
}

img{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

